<% provide(:title, "Sign in") %>

<div class="row-fluid">
  <div class="span6 offset3 hero-unit">
   <h4>Sign in</h4>
   <BR>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <small>New user? <%= link_to "Join now", signup_path %></small>
  </div>
</div>
