<% provide(:title, 'Sign up') %>
<div class="row-fluid">
  <div class="span6 offset3 hero-unit">
    <h4>New to Ngohook?</h4>
    <BR> 
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :firstname %>
      <%= f.text_field :firstname %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign me up!", class: "btn btn-large btn-primary" %>
    <% end %>
    <small> Enjoy life beyond <font color=#33CC33> profit</font>. </small>
  </div>
</div>
