<!DOCTYPE html>
<html>
  <head>
    <title> Ngohook - <%=yield(:title) %></title>
    <%= favicon_link_tag "/favicon.ico?1" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
   <div class="jumbotron ">
     <BR>
     <BR>

     <h1> Blog </h1>
     <h2> Life Beyond Profit </h2>
   </div>
  </head>
  <body>
    <%= render 'layouts/header1' %>
      <div class="container hero-unit">
      <%= yield %>
      </div>
      <%= render 'layouts/footer1' %>
  </body>
</html>

